body {
    background: #F5D9D5;
    font-family: "Nunito", sans-serif;
}


#mainNav {
    font-size: 1.25rem;
    font-weight: 100;
}

#mainNav .navbar-brand {
    color: #EA1C2C;
}

#mainNav .nav-link {
    color: #1b1c1e;
}

#mainNav .nav-link:hover {
    color: #EA1C2C;
}

.content h2 {
    font-size: 3.5rem;
    font-weight: 100;
    color: #754A43;
}

.slash {
    color: #EA1C2C;
    font-weight: 300;
}

.margin-top {
    margin-top: 100px;
}

.about h2 {
    font-size: 2.5rem;
    font-weight: 100;
    color: #EA1C2C;
}

.about p {
    color: #756866;
    font-weight: 100;
    line-height: 2;
    font-size: 1.25rem;
}

.navbar.scrolled {
    background: #fff;
    transition: background 500ms;
}

#contact {
    height: 60vh;
    margin-top: 100px;
}

.bg-contact {
    background: url(imgs/contact.jpg) bottom center/cover no-repeat;
}

.bg-contact h2 {
    font-size: 4rem;
    font-weight: 100;
    color: #754A43;
}

.form-field{
    border-radius: 10px;
    padding: 13px 10px;
}

.btn-info {
    border-radius: 10px;
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.35);
}
.footer {
    background: rgb(222, 192, 222);
    min-height: 100px;
}

.footer p {
    margin-top: 25px;
    font-weight: 100;
    font-size: 1rem;
    color: #EA1C2C;
}

@media (max-width: 1200px) {
    .content h2 {
        font-size: 3rem;
    }

}

@media (max-width: 767px) {
    .bg-contact h2 {
        font-size: 3rem;
    }

    .custom-pos {
        margin-top: 0;
    }
}
